In [1]:
import pandas as pd

In [2]:
#cadastro da loja a:
cadastro_a = { 'Id': ['AA2930', 'BB4563', 'CC2139', 'DE2521', 'GT3462', 'HH1158'],
              'Nome' : ['Victor', 'Amanda', 'Bruna', 'Carlos', 'Ricardo', 'Maria'],
              'Idade' : ['00092-029', '11111-111', '22222-888', '00000-999', '88888-111', '77777-666']
}
cadastro_a = pd.DataFrame(cadastro_a, columns = ['Id', 'Nome', 'Idade', 'CEP'])

In [4]:
#cadastro da loja b:
cadastro_b = { 'Id' : ['CC9999', 'EF4488', 'DD9999', 'GT3462', 'HH1158'],
              'Nome' : ['Marcos', 'Patricia', 'Ericka', 'Ricardo', 'Maria'],
              'Idade' : [19,30,22,30,27],
              'CEP' : ['00092-029', '11111-111', '11111-888', '88888-111', '77777-666']    
}
cadastro_b = pd.DataFrame(cadastro_b, columns = ['Id', 'Nome', 'Idade', 'CEP'])

In [6]:
#registro de compras de todas as unidades 

compras = {'Id': ['AA2930', 'EF4488', 'CC2139', 'EF4488', 'CC9999', 'AA2930', 'HH1158', 'HH1158'],
           'Data': ['2019-01-01', '2019-01-30', '2019-01-30', '2019-02-01', '2019-02-20', '2019-03-15', '2019-04-01', '2019-04-10'],
           'Valor' : [200,100,40,150,300,25,50,500]
}

compras = pd.DataFrame(compras, columns= ['Id', 'Data', 'Valor'])

In [8]:
# pd.merge(tabela_da_esquerda, tabela_da_direita, on = 'coluna_coincidente', how = 'left|right|inner|outer')

In [11]:
pd.merge(cadastro_a,cadastro_b, on = ['Id'], how = 'inner')

       Id   Nome_x    Idade_x CEP_x   Nome_y  Idade_y      CEP_y
0  GT3462  Ricardo  88888-111   NaN  Ricardo       30  88888-111
1  HH1158    Maria  77777-666   NaN    Maria       27  77777-666

In [12]:
pd.merge(cadastro_a, cadastro_b[['Id', 'Idade', 'CEP']], on = ['Id'], how = 'inner')

       Id     Nome    Idade_x CEP_x  Idade_y      CEP_y
0  GT3462  Ricardo  88888-111   NaN       30  88888-111
1  HH1158    Maria  77777-666   NaN       27  77777-666