In [1]:
import pandas as pd
import numpy as np

In [2]:
datas = pd.date_range('20190101', periods = 60, freq = 'D')
df = pd.DataFrame(np.random.randn(60,5), index = datas, columns = list('ABCDE'))

In [3]:
df

                   A         B         C         D         E
2019-01-01 -0.873359  0.050137 -0.021881 -0.895701  0.318017
2019-01-02 -0.203710 -0.564443  0.655736  0.003218  1.851034
2019-01-03 -1.011906  0.112644 -0.840806 -0.253134 -1.659768
2019-01-04 -0.063688  0.740936  0.662847 -1.097583 -0.505860
2019-01-05 -0.582701 -0.802775  0.193982  0.694849 -1.079238
2019-01-06 -0.138095  0.793057  1.451054 -0.503904  0.818535
2019-01-07  0.472552 -0.055080 -0.140140 -0.079876  1.786312
2019-01-08  0.860195 -0.732515 -1.053303 -0.323974  1.385676
2019-01-09 -0.744795  0.684058 -0.534621  0.963829  0.570383
2019-01-10 -0.572157  0.775345 -2.032436  0.080811 -1.721115
2019-01-11  0.094338 -0.399390  0.641791  1.018694 -0.667654
2019-01-12 -0.099227 -0.693587 -1.635290 -0.176354  0.067977
2019-01-13 -1.194088 -0.631286 -0.208716 -0.125167 -0.981939
2019-01-14  1.957897 -0.162221 -0.036491  0.433370  0.759840
2019-01-15  0.445357  0.280873  0.196231  0.789619 -0.372387
2019-01-16 -1.210179  0.370272  1.546091  0.410185 -0.174544
2019-01-17  0.684381  2.480617  0.040174  0.538051 -0.599401
2019-01-18  1.819942 -0.523496  0.812193  0.392050 -0.107535
2019-01-19  0.978913  0.441890 -0.742160  0.738497 -1.332315
2019-01-20  0.744143 -0.967224  1.162780  0.134164  0.946792
2019-01-21 -1.960059 -1.225215 -2.213293  0.336898 -0.263293
2019-01-22 -0.165363  1.211058 -0.014617 -1.788334  0.725769
2019-01-23  0.741268 -0.713210  0.353894 -0.175543 -0.665600
2019-01-24  1.395723 -0.910082  0.133016 -0.771990 -0.324286
2019-01-25  0.195931  0.241294  2.622502  2.069785  0.513373
2019-01-26 -0.139577  0.818272 -0.650948  0.020055  0.300146
2019-01-27 -0.012465  0.809011  0.384392 -1.791357  0.945301
2019-01-28  1.569051 -0.421980 -0.253234 -0.869175  0.865799
2019-01-29  2.265401 -0.359982 -0.541737  0.320804  0.214623
2019-01-30  0.616282 -2.246412 -0.330512 -0.446996 -1.183011
2019-01-31 -0.077709 -1.551260 -1.696463 -0.161821 -0.616374
2019-02-01  1.997229  0.625366  1.209814 -0.356441 -2.629783
2019-02-02 -0.146020  0.647452  0.489747  0.916128 -0.421466
2019-02-03 -0.201469  0.360569  0.130248  0.538565  0.131978
2019-02-04  0.447353 -1.131097  0.009086 -0.937506 -0.667494
2019-02-05 -0.255345 -0.028098 -1.449973 -0.071862  0.071748
2019-02-06  0.090729  0.158026  0.108696  0.569556  1.065206
2019-02-07 -0.686535 -0.391715  0.318894 -1.474468  1.818205
2019-02-08  1.079505  1.069920 -0.089511  1.013640 -0.461811
2019-02-09 -1.394201 -0.556294  0.567252 -1.114314 -0.857953
2019-02-10  1.878760 -0.284092  0.445027 -0.576087 -1.020275
2019-02-11 -0.674265  0.719484 -0.611674  0.121930 -0.345440
2019-02-12 -1.655484  0.374592 -1.672560  0.462039 -0.808410
2019-02-13  0.274624  0.054514 -0.549182  0.614970  0.633822
2019-02-14  1.755902  0.318175 -0.005629 -1.111578  1.195136
2019-02-15  1.287634  0.330376 -1.208987 -0.582525  0.324011
2019-02-16 -0.430389 -1.699458 -0.286522 -0.390632  0.579719
2019-02-17 -1.021837  0.405328 -0.715792  0.704197 -0.842528
2019-02-18  2.049283  1.017283 -0.609096  0.139771 -0.168904
2019-02-19  0.794756 -1.022491 -0.082454 -0.193016 -1.600018
2019-02-20  0.853053  1.495280  0.089890 -1.296121 -0.283221
2019-02-21 -0.594477  0.054350 -1.410860  0.184894  0.208284
2019-02-22 -1.369721 -0.254948  1.384825  1.748571  1.670267
2019-02-23 -0.875170  0.199913 -0.229410 -0.813259 -1.151549
2019-02-24  1.085506 -0.127891  0.300502 -1.150617 -0.548661
2019-02-25 -1.768695 -2.432166 -1.049668 -1.156183 -0.164013
2019-02-26 -0.159872  0.496579  1.143136  1.131223  1.343471
2019-02-27 -1.070113  1.737548  1.079950 -1.559097 -1.060545
2019-02-28 -0.524792  0.257013  0.546876  0.389660 -1.903418
2019-03-01  1.184287 -1.152198 -0.455175 -0.353446  0.698221

In [4]:
df.shape

(60, 5)

In [5]:
df.head(3)

                   A         B         C         D         E
2019-01-01 -0.873359  0.050137 -0.021881 -0.895701  0.318017
2019-01-02 -0.203710 -0.564443  0.655736  0.003218  1.851034
2019-01-03 -1.011906  0.112644 -0.840806 -0.253134 -1.659768

In [6]:
df['F'] = 1

In [8]:
df.head(10)

                   A         B         C         D         E  F
2019-01-01 -0.873359  0.050137 -0.021881 -0.895701  0.318017  1
2019-01-02 -0.203710 -0.564443  0.655736  0.003218  1.851034  1
2019-01-03 -1.011906  0.112644 -0.840806 -0.253134 -1.659768  1
2019-01-04 -0.063688  0.740936  0.662847 -1.097583 -0.505860  1
2019-01-05 -0.582701 -0.802775  0.193982  0.694849 -1.079238  1
2019-01-06 -0.138095  0.793057  1.451054 -0.503904  0.818535  1
2019-01-07  0.472552 -0.055080 -0.140140 -0.079876  1.786312  1
2019-01-08  0.860195 -0.732515 -1.053303 -0.323974  1.385676  1
2019-01-09 -0.744795  0.684058 -0.534621  0.963829  0.570383  1
2019-01-10 -0.572157  0.775345 -2.032436  0.080811 -1.721115  1

In [9]:
df['G'] = range(60)

In [11]:
df.head(3)

                   A         B         C         D         E  F  G
2019-01-01 -0.873359  0.050137 -0.021881 -0.895701  0.318017  1  0
2019-01-02 -0.203710 -0.564443  0.655736  0.003218  1.851034  1  1
2019-01-03 -1.011906  0.112644 -0.840806 -0.253134 -1.659768  1  2

In [12]:
df['Produto'] = df['A'] * df['B']

In [13]:
df.head(3)

                   A         B         C         D         E  F  G   Produto
2019-01-01 -0.873359  0.050137 -0.021881 -0.895701  0.318017  1  0 -0.043788
2019-01-02 -0.203710 -0.564443  0.655736  0.003218  1.851034  1  1  0.114983
2019-01-03 -1.011906  0.112644 -0.840806 -0.253134 -1.659768  1  2 -0.113985

In [14]:
-0.873359 * 0.050137

-0.043787600183

In [15]:
df['D'] = 88

In [16]:
df.head(3)

                   A         B         C   D         E  F  G   Produto
2019-01-01 -0.873359  0.050137 -0.021881  88  0.318017  1  0 -0.043788
2019-01-02 -0.203710 -0.564443  0.655736  88  1.851034  1  1  0.114983
2019-01-03 -1.011906  0.112644 -0.840806  88 -1.659768  1  2 -0.113985