In [1]:
import pandas as pd
import numpy as np

In [3]:
datas = pd.date_range('20200101', periods = 6)

df = pd.DataFrame(np.random.randn(6,4), index = datas, columns = ['Var_A', 'Var_B', 'Var_C', 'Var_D'] )

In [4]:
df

               Var_A     Var_B     Var_C     Var_D
2020-01-01 -0.144716 -0.601715  2.431771  0.860622
2020-01-02 -0.079425 -0.615267 -0.849456  0.395230
2020-01-03  1.670175  1.099007  0.269065  0.630740
2020-01-04 -0.469530 -1.464931  1.463334 -0.723826
2020-01-05 -0.156559  0.003116 -0.923887 -0.691555
2020-01-06 -0.838945 -1.616824 -0.097068  0.491532

In [6]:
dft = df.T

In [7]:
dft

       2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
Var_A   -0.144716   -0.079425    1.670175   -0.469530   -0.156559   -0.838945
Var_B   -0.601715   -0.615267    1.099007   -1.464931    0.003116   -1.616824
Var_C    2.431771   -0.849456    0.269065    1.463334   -0.923887   -0.097068
Var_D    0.860622    0.395230    0.630740   -0.723826   -0.691555    0.491532

In [11]:
df.shape

(6, 4)

In [12]:
dft.shape

(4, 6)

In [14]:
np.size(dft.values)

24

In [15]:
v = dft.values

In [21]:
v.reshape((2,12))

array([[-0.14471571, -0.07942451,  1.6701747 , -0.46953046, -0.15655852,
        -0.83894528, -0.60171479, -0.61526716,  1.09900727, -1.46493054,
         0.00311589, -1.61682363],
       [ 2.43177101, -0.84945597,  0.26906536,  1.46333425, -0.92388696,
        -0.09706796,  0.86062201,  0.39523039,  0.63074048, -0.72382553,
        -0.69155457,  0.49153178]])