In [2]:
import pandas as pd
import numpy as np

In [3]:
datas = pd.date_range('20200101', periods = 6)

df = pd.DataFrame(np.random.randn(6,4), index = datas, columns = ['Var_A', 'Var_B', 'Var_C', 'Var_D'])

In [6]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1, index = list(range(4)), dtype = 'float32'),
                    'D' : np.array([3] * 4, dtype = 'int32'),
                    'E' : pd.Categorical(['test', 'train', 'test', 'train']),
                    'F' : 'Python'
                   })

In [9]:
df.shape

(6, 4)

In [10]:
df.dtypes

Var_A    float64
Var_B    float64
Var_C    float64
Var_D    float64
dtype: object

In [11]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [18]:
df2.describe()

         A                    B    C    D
count  4.0                    4  4.0  4.0
mean   1.0  2013-01-02 00:00:00  1.0  3.0
min    1.0  2013-01-02 00:00:00  1.0  3.0
25%    1.0  2013-01-02 00:00:00  1.0  3.0
50%    1.0  2013-01-02 00:00:00  1.0  3.0
75%    1.0  2013-01-02 00:00:00  1.0  3.0
max    1.0  2013-01-02 00:00:00  1.0  3.0
std    0.0                  NaN  0.0  0.0

In [19]:
df1 = df.reindex(index = datas[0:4], columns = list(df.columns) + ['Var_E'])

In [20]:
df1

               Var_A     Var_B     Var_C     Var_D  Var_E
2020-01-01  0.882350  1.638191  0.346650  0.392544    NaN
2020-01-02  1.512656  0.931966  0.886852 -0.512709    NaN
2020-01-03  1.425002  0.194830 -1.394408  1.969067    NaN
2020-01-04  0.154263 -0.489890 -0.416391  3.118905    NaN

In [21]:
df1.loc[datas[0]: datas[1], 'Var_E'] = 77

In [22]:
df1

               Var_A     Var_B     Var_C     Var_D  Var_E
2020-01-01  0.882350  1.638191  0.346650  0.392544   77.0
2020-01-02  1.512656  0.931966  0.886852 -0.512709   77.0
2020-01-03  1.425002  0.194830 -1.394408  1.969067    NaN
2020-01-04  0.154263 -0.489890 -0.416391  3.118905    NaN

In [23]:
df1.dtypes

Var_A    float64
Var_B    float64
Var_C    float64
Var_D    float64
Var_E    float64
dtype: object

In [26]:
df1.describe()

          Var_A     Var_B     Var_C     Var_D  Var_E
count  4.000000  4.000000  4.000000  4.000000    2.0
mean   0.993568  0.568774 -0.144324  1.241952   77.0
std    0.625137  0.919450  0.990136  1.617815    0.0
min    0.154263 -0.489890 -1.394408 -0.512709   77.0
25%    0.700328  0.023650 -0.660895  0.166231   77.0
50%    1.153676  0.563398 -0.034871  1.180806   77.0
75%    1.446915  1.108522  0.481700  2.256527   77.0
max    1.512656  1.638191  0.886852  3.118905   77.0